@import "../../config/variables.css";

.main-page {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 200px auto 100px;
  grid-gap: 10px;

  grid-template-areas:
    "header"
    "search"
    "main"
    "footer";
}

@media only screen and (max-width: 992px) {
  .main-page {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px 200px auto 100px;
    grid-gap: 20px;

    grid-template-areas:
      "header header header"
      "search search search"
      "main main main"
      "footer footer footer";
  }
}
