.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character-card-content {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  position: relative;
  background-color: #fb2a4b;
  border: 2px solid black;
  overflow: hidden;
  box-shadow: 0px 0px 5px;
  transition: transform 250ms ease-out;
  cursor: pointer;
}

@media only screen and (max-width: 460px) {
  .character-card-content {
    width: 150px;
  }

  .character-card-content-img {
    width: 150px;
    height: 150px;
  }

  .character-card-content-title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 460px) and (max-width: 530px) {
  .character-card-content {
    width: 175px;
  }

  .character-card-content-img {
    width: 175px;
    height: 175px;
  }

  .character-card-content-title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 530px) and (max-width: 650px) {
  .character-card-content {
    width: 200px;
  }

  .character-card-content-img {
    width: 200px;
    height: 200px;
  }

  .character-card-content-title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 768px) {
  .character-card-content {
    width: 250px;
  }

  .character-card-content-img {
    width: 250px;
    height: 250px;
  }

  .character-card-content-title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1349px) {
  .character-card-content {
    width: 240px;
  }

  .character-card-content-img {
    width: 240px;
    height: 240px;
  }

  .character-card-content-title {
    font-size: 16px;
  }
}

.character-card-content:hover {
  transform: translateY(-3px);
}

.character-card-content-img {
  border-bottom: 2px solid black;
}

.character-card-content-title {
  align-self: center;
  margin: 8px 0px;
}
