@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke * -1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
    }
  }
  @return $shadow;
}

@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

.search-area {
  grid-area: search;

  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/images/Banner-Xavier.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #441c4c;
  background-position: top center;
}

.input-container {
  width: 50%;
  text-align: center;
}

.search-area-title {
  @include stroke(3, #ffffff);
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .search-area-title {
    @include stroke(2, #ffffff);
    margin-top: 0;
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .search-area {
    grid-area: search;

    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../assets/images/Banner-Xavier-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #441c4c;
    background-position: center center;
  }
}
